/*reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* estilos body*/
body{
    background-color: #726A95;
}
/*estilos nav*/
nav{
    position: sticky;
}
.nav-link{
    font-family: 'Medula One'; 
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
}
/*edicion de imagen logo*/
.col-2{
    width: 8%;    
}
/* estilos de main*/

.mainPrincipal{
    font-family: 'Medula One';
}
.tituloPrincipal{
    word-spacing: 9rem;
}
h1{
    text-align: center;
    color: black;
    font-size: 4rem;
    font-weight: bold;
}
.texto{
    text-align: justify;
}
main div{
    display: flex;
    justify-content: center;
} 
/*logo de whatsapp*/
.logoWhatsapp{
    width: 7%;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
/*Color de Footer*/
.copyright{
    color: black;
    font-size: 15px;
    text-align: center;
}
/*mq*/
@media screen and (min-width:1024px) {
    nav{
        grid-template-areas: "imagenLogo ul";
        justify-content: space-evenly;
    }
    .imagenLogo{
        grid-area: imagenLogo;
        width: 50%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;  
    }
    nav ul{
        grid-area: ul;
        display: flex;
        justify-content: left;
    }
    .imagenPrincipal{
        width: 30%;
    }
    .logoWhatsapp{
        width: 2.3%;
    }
    nav ul li{
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }
    main section img{
        width: 5%;
    }
}
/*estilos de page campanias*/
main section img:hover{
    transform: scale(1.01);
}
.fotosCampanias{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
main section img{
    width: 20%;
    object-fit: cover;
    margin: 0.3rem;
}
main h1{
    font-family: 'Medula One';
}
/*estilos page contacto*/
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

