* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilo de body */
body {
  background-color: #726A95; }

/* Estilos nav */
header .nav-link {
  font-family: "Medula One";
  color: #191919;
  font-weight: bold;
  font-size: 1.6rem; }

/* estilo main pagina principal*/
main .mainPrincipal {
  display: grid;
  height: 100vh;
  grid-template-areas: "titulo titulo" "imagenPrincipal imagenPrincipal" "parrafo parrafo"; }

main .tituloPrincipal {
  font-family: "Medula One";
  text-align: center;
  color: #191919;
  font-size: 4rem;
  font-weight: bold;
  grid-area: titulo; }

main .imagenPrincipal {
  grid-area: imagenPrincipal;
  display: flex;
  justify-content: center; }

main .parrafo {
  grid-area: parrafo; }

main .logoWhatsapp {
  width: 7%;
  position: fixed;
  bottom: 2rem;
  right: 2rem; }

main .imgPrincipal {
  width: 90%; }

/* estilo footer*/
footer p {
  color: #191919;
  font-size: 1rem;
  text-align: center; }

/*estilo page 2022*/
main .titulo2022 {
  font-family: "Medula One";
  text-align: center;
  color: #191919;
  font-size: 4rem;
  font-weight: bold; }

main .fotosCampanias {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around; }

main section img {
  width: 40%;
  object-fit: cover;
  margin: 0.3rem; }

footer img {
  width: 7%;
  position: fixed;
  bottom: 2rem;
  right: 2rem; }

/*estilo page contacto*/
main fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

/*estilos page tienda*/
main .mainTienda {
  display: grid;
  height: 80vh;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "titulo titulo" "tarjetas envio" "pie1 pie2" "entrega cambio" "pie3 pie4"; }

main .tituloTienda {
  grid-area: titulo;
  font-family: "Medula One";
  text-align: center; }

main .tarjetas {
  grid-area: tarjetas; }

main .envio {
  grid-area: envio; }

main .pieTarjetas {
  grid-area: pie1; }

main .pieEnvio {
  grid-area: pie2; }

main .entrega {
  grid-area: entrega; }

main .cambio {
  grid-area: cambio; }

main .pieEntrega {
  grid-area: pie3; }

main .pieCambio {
  grid-area: pie4; }

main .imagen1 {
  width: 10%; }

main .imagen2 {
  width: 10%; }

main .imagen3 {
  width: 10%; }

main .imagen4 {
  width: 10%; }

main span {
  text-align: center;
  font-family: "Medula One";
  font-size: 1.5rem; }
