$color-fondo: rgba(0, 0, 0, 0.801);
$color-fondo2: rgba(255, 255, 255, 0.699) ;
$color-fondo3:rgba(255, 0, 0, 0.801);
$color-letra: #f1eded;
$estilo-letra: 'Medula One';
$size-letra:1.3rem;
$subrayado: underline