@media screen and (min-width:1024px){
    .mainPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagenPrincipal{
        width: 40%;
    }
    .logoWhatsapp{
        display: none;
    }
}