@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/extend";
@import "utilities/maps";

/* estilo main pagina principal*/
main{
    .mainPrincipal{
    display: grid;
    height: 100vh;
    grid-template-areas: "titulo titulo"
                         "imagenPrincipal imagenPrincipal"
                         "parrafo parrafo";
    }
    .tituloPrincipal{
        @extend %titulo;
    }
    .imagenPrincipal{
        grid-area: imagenPrincipal;
        display: flex;
        justify-content: center;
    }
    .parrafo{
        grid-area: parrafo;
    }
    .logoWhatsapp{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        @include medidas (10%,5%)
    }
    .imgPrincipal{
        width: 90%;
    }
}
/*estilo page 2022*/
main{
    .titulo2022{
    font-family: $estilo-letra;
    text-align: center;
    color: $color-letra;
    font-size: 4rem;
    font-weight: bold;
    }
    .fotosCampanias{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;}
    section img{
        width: 40%;
        object-fit: cover;
        margin: 0.3rem;}
}
/*estilo page contacto*/
main{
    fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    main form fieldset legend{

    }
    .instagram{
        @include medidas (10%,5%)
    }
    .facebook{
        @include medidas (10%,5%)
    }
}
/*estilos page tienda*/
main{
    .textoTienda{
        font-family: $estilo-letra;
        font-size: 3rem;
    }
    .col-6{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* estilos page nosotros*/
main{
    .mision{
        font-family:$estilo-letra;
        font-size: map-get($map: $tituloComun, $key:4rem );
        @include texto (bold, center)
    }
    .vision{
        font-family:$estilo-letra;
        font-size: map-get($map: $tituloPrincipal, $key:5rem );
        @include texto (bold, center)
    }
    .objetivos{
        font-family:$estilo-letra;
        font-size: map-get($map: $tituloSecundario, $key:3rem );
        @include texto (bold, center)
    }
    p{
        font-family: $estilo-letra;
        font-size: 1.4rem; 
        @include texto (bold, center)
    }
}